    <section class="has-text-centered {{ page.header.body_classes }}">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title is-uppercase no-border">{{ page.header.banner_title }}</h1>
            <p>{{ page.header.banner_text }}</p>
            <a class="button is-rounded is-white" href="{{ page.header.button_url }}">{{ page.header.button_text }}</a>
          </div>
        </div>
      </div>
    </section>