<section class="hero is-primary" style="background-image: url({{ page.media[page.header.hero_background].url() }})">
    <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h2 class="subtitle is-uppercase">{{ page.header.hero_subtitle }}</h2>
                <h1 class="title is-uppercase">{{ page.header.hero_title }}</h1>
                <p>{{ page.header.hero_text }}</p>
            {% if page.header.show_more == 1 %}
                <button class="button is-rounded is-outlined is-white" onclick="scrollToAnchor('section-1')">Learn more</button>
            {% endif %}
            {% for button in page.header.buttons %}
                <a class="button is-rounded {{ button.class }}" href="{{ button.url }}">{{ button.text }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
</section>
<div id="section-1"></div>