{% if page.header.items|length == 3 %}
  {% set colsize = '4' %}
{% elseif page.header.items|length == 2 %}
  {% set colsize = '6' %}
{% else %}
  {% set colsize = '12' %}
{% endif %}
    <section class="has-text-centered {{ page.header.body_classes }}"> 
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-full">
          {% if page.header.show_title == '1' %}
            <h1 class="title is-uppercase">{{ page.title }}</h1>
          {% endif %}
          {% if page.content %}
            <p>{{ page.content|raw }}</p>
          {% endif %}
          </div>
          {% for item in page.header.items %}
          <div class="column is-{{ colsize }}">
            {% if item.image %}
            <figure class="image is-96x96 is-inline-block">
              <img src="{{ page.media[item.image].url() }}" />
            </figure>
            {% endif %}
            {% if item.title %}
            <h3 class="title">{{ item.title }}</h3>
            {% endif %}
            {% if item.subtitle %}
            <p>{{ item.subtitle }}</p>
            {% endif %}
          </div>
          {% endfor %}
          {% if page.header.button_text %}
          <div class="column is-full">
            <a class="button is-rounded is-primary" href="{{ page.header.button_url }}">{{ page.header.button_text }}</a>
          </div>
          {% endif %}
        </div>
      </div>
    </section>