{% set phone = theme_var('contact_phone') %}
{% set email = theme_var('contact_email') %}
{% set address = theme_var('contact_address')|markdown %}
{% set hours = theme_var('contact_hours')|markdown %}

    <footer class="has-background-black has-text-white">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="has-text-centered">Sign up to the newsletter for healthy recipes, fitness advice and more!</p>
            <div class="field has-addons">
              <div class="control">
                <input class="input is-rounded" type="text" placeholder="Email address">
              </div>
              <div class="control">
                <a class="button is-rounded is-primary">
                  Sign me up!
                </a>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <figure class="image is-128x128">
                  <img src="{{ url('theme://images/logo.svg') }}" />
                </figure>
                <h2 class="title is-uppercase">Elite spartans</h2>
              </div>
              <div class="column">
                <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
                <p><a href="mailto:{{ email }}">{{ email }}</a></p>
                {{ address|raw }}
              </div>
              <div class="column">
                {{ hours|raw }}
              </div>
              <div class="column">
                <ul>
                {% for page in pages.children.visible %}
                  <li><a href="{{ page.url }}">{{ page.menu }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
            <p class="has-text-centered">&copy;Copyright 2020, Elite Spartans</p>
          </div>
        </div>
      </div>
    </footer>
