{% extends 'partials/base.html.twig' %}

{% block hero %}
    {% for module in page.collection() if module.template == 'modular/hero' %}
        <div id="{{ module.menu|hyphenize }}"></div>
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}


{% block body %}
{% if page.content or page.title != 'Home' %}
    <div class="container">
    <section class="section has-text-centered">
        {% if page.title != 'Home' %}
            <h1 class="title is-uppercase no-border">{{ page.title }}</h1>
        {% endif %}
        <div class="container">
        {% if page.content %}
            <div class="columns">
                <div class="column is-12">
                    {{ page.content|raw }}
                </div>
            </div>
        {% endif %}
        </div>
    </section>
    </div>
{% endif %}
{% for module in page.collection() if module.template != 'modular/hero' %}
    <div id="{{ module.menu|hyphenize }}"></div>
    {{ module.content|raw }}
{% endfor %}
{% endblock %}